In [1]:
import pandas as pd  # as 는 pandas를 더 쉽게 불러올 수 있도록 간단한 별명을붙여주는 것. 쉬프트 + 엔터 = 실행

In [2]:
import numpy as np # numpy 는 여러 가지 통계 툴

In [3]:
s = pd.Series([1,2,3,4,5])   # Series = R 에서의 C함수와 같은 기능을 한다. 여러 가지 값들을 넣을 때 사용

In [4]:
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
dates = pd.date_range('2013-01-03' , periods = 6) # 판다스 모듈 안의 date_range -> 날짜의 리스트를 임의로 만들어 낼 수 있는 함수
# 2013-01-03부터 6일간의 날짜를 리스트로 만든다. 데이터 타입은 datetime 이라는 데이터형.

In [8]:
dates

DatetimeIndex(['2013-01-03', '2013-01-04', '2013-01-05', '2013-01-06',
               '2013-01-07', '2013-01-08'],
              dtype='datetime64[ns]', freq='D')

In [10]:
np.random.randn(6,2)  # numpy 안에 있는 함수들 중 랜덤한 값을 불러오는 함수. 첫번째는 열, 두번째는 행의 갯수를 의미한다.

array([[ 2.05006517, -0.45247728],
       [ 0.20082647, -1.26855692],
       [ 1.89534482,  0.18920796],
       [-0.48308431,  0.26520035],
       [ 0.01679264, -0.18241944],
       [-0.44993452,  1.33223961]])

In [14]:
df = pd.DataFrame(np.random.randn(6,4) , index = dates , columns=['A' , 'B' , 'C' , 'D']) # 데이터프레임의 함수. 인덱스는 세로열의 벡터, 
#columns 는 가로의 벡터를 의미한다.

In [16]:
df.head(3)

                   A         B         C         D
2013-01-03  0.024216  0.568722  1.824232  0.696969
2013-01-04 -0.195303 -0.695710 -1.666282 -1.054320
2013-01-05  1.128366 -0.515619  0.798882 -0.231195

In [17]:
df.index

DatetimeIndex(['2013-01-03', '2013-01-04', '2013-01-05', '2013-01-06',
               '2013-01-07', '2013-01-08'],
              dtype='datetime64[ns]', freq='D')

In [18]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [19]:
df.values

array([[ 0.02421603,  0.56872196,  1.82423206,  0.69696938],
       [-0.19530347, -0.69570986, -1.66628191, -1.05431974],
       [ 1.1283656 , -0.51561881,  0.7988819 , -0.23119497],
       [ 1.37628497, -0.57706318, -0.45429288,  0.0802393 ],
       [ 0.80046815, -0.69446618,  0.36925309,  1.37034223],
       [-2.15478837,  0.55577142, -0.46810567, -0.30228041]])

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2013-01-03 to 2013-01-08
Freq: D
Data columns (total 4 columns):
A    6 non-null float64
B    6 non-null float64
C    6 non-null float64
D    6 non-null float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [22]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.163207 -0.226394  0.067281  0.093293
std    1.290747  0.614811  1.206418  0.845486
min   -2.154788 -0.695710 -1.666282 -1.054320
25%   -0.140424 -0.665115 -0.464652 -0.284509
50%    0.412342 -0.546341 -0.042520 -0.075478
75%    1.046391  0.287924  0.691475  0.542787
max    1.376285  0.568722  1.824232  1.370342

In [25]:
df.sort_values(by = 'B', ascending= False)  # 특정한 column의 기준으로 sort 하는 함수. True는 오름차순, False는 내림차순이다.

                   A         B         C         D
2013-01-03  0.024216  0.568722  1.824232  0.696969
2013-01-08 -2.154788  0.555771 -0.468106 -0.302280
2013-01-05  1.128366 -0.515619  0.798882 -0.231195
2013-01-06  1.376285 -0.577063 -0.454293  0.080239
2013-01-07  0.800468 -0.694466  0.369253  1.370342
2013-01-04 -0.195303 -0.695710 -1.666282 -1.054320

In [26]:
df['A'] # 특정 컬럼만 가지고 오는 함수

2013-01-03    0.024216
2013-01-04   -0.195303
2013-01-05    1.128366
2013-01-06    1.376285
2013-01-07    0.800468
2013-01-08   -2.154788
Freq: D, Name: A, dtype: float64

In [31]:
df[0:3]

                   A         B         C         D
2013-01-03  0.024216  0.568722  1.824232  0.696969
2013-01-04 -0.195303 -0.695710 -1.666282 -1.054320
2013-01-05  1.128366 -0.515619  0.798882 -0.231195