In [1]:
# 이미지나 동영상을 가져올 때는 코딩만으로는 불가능하다. 그걸 가져오는 함수가 따로 있다. 정형데이터 함수부터 써보도록 하자.

In [2]:
# 네이버 금융 크롤링시 - 사이트 내용의 마지막 값이 종목번호이다.

In [3]:
# 인터넷 연결이 먼저
# html 문서를 받아 와서 분석

import urllib
# or
import requests
from bs4 import BeautifulSoup # bs4 라이브러리 중에서 부티풀숩만 가져온다.

In [4]:
url = "https://finance.naver.com/item/main.nhn?code=035420"

In [5]:
result = requests.get(url) # 리퀘스트 라이브러리를 이용, 불러온다

In [6]:
result ##200이 뜰시 제대로 한것. 이후 html로 변환시켜야 한다.

In [7]:
bs_obj = BeautifulSoup(result.content , "html.parser") # content -> html만 뽑아내는 것. parser -> 분석하겠다는 뜻.

In [8]:
no_today = bs_obj.find("p" , {"class" :  "no_today"}) # p tag 안에 있는 no today 라는 클래스를 추출

In [9]:
blind_now = no_today.find("span" , {"class" : "blind"})

In [10]:
blind_now.text

'133,000'

In [11]:
blind_now

In [12]:
# 함수화해서 회사별 데이터를 편하게 추출해보자. 2에서...

In [15]:
no_today

<p class="no_today">
<em class="no_down">
<span class="blind">133,000</span>
<span class="no1">1</span><span class="no3">3</span><span class="no3">3</span><span class="shim">,</span><span class="no0">0</span><span class="no0">0</span><span class="no0">0</span>
</em>
</p>

In [16]:
all_td = bs_obj.find("td" , {"class" : "first"})

In [17]:
all_td

<td class="first">
<span class="sptxt sp_txt2">전일</span>
<em>
<span class="blind">138,500</span>
<span class="no1">1</span><span class="no3">3</span><span class="no8">8</span><span class="shim">,</span><span class="no5">5</span><span class="no0">0</span><span class="no0">0</span>
</em>
</td>

In [18]:
first = all_td.find("span" , {"class" : "blind"})

In [20]:
first.text

'138,500'

In [23]:
# 동일한 주소를 가지고 있을 때에는 findall 로 리스트로 가져온 후 인덱싱으로 가져온다.

<em class="no_down">
<span class="blind">133,000</span>
<span class="no1">1</span><span class="no3">3</span><span class="no3">3</span><span class="shim">,</span><span class="no0">0</span><span class="no0">0</span><span class="no0">0</span>
</em>